## Python Basics

### Variables:
    - To Store a value
    - To Change a value

### Data Types:
    - int => It allows only numeric values
    - float => It allows numeric and decimal values
    - string => enclosed with ' or "
    - complex => imaginary and real part
    - boolean => True,False and None
    - All Data Structures [List,Tuple,Set and Dictionary]

In [1]:
r = 45
r

45

In [5]:
t = '78'
u = 354.0154
t,u

('78', 354.0154)

In [6]:
h,k = 12,'864'
h,k

(12, '864')

In [7]:
e,j,p = 45,78.0215,'prasad','78'
e,j,p

ValueError: too many values to unpack (expected 3)

In [8]:
e,j,p,m,n = 45,78.0215,'prasad','78'
e,j,p,m,n

ValueError: not enough values to unpack (expected 5, got 4)

In [10]:
d = t = y = 25
d,t,y

(25, 25, 25)

In [11]:
id(d)

140723824784400

In [12]:
id(t)

140723824784400

In [13]:
id(h)

140723824783984

In [14]:
id(k)

1556796864944

In [15]:
e,m,n,k,p = 96,12.0212,'Prasad',False,'12'
print(e,m,n,k,p)

96 12.0212 Prasad False 12

### Type Method:
    - To know the data type of a variable
    - Syntax:
        type(variablename)

In [17]:
s = '45'
print(type(s))
type(s)

<class 'str'>

str

In [18]:
e,m,n,k,p = 96,12.0212,'Prasad',False,'12'
print(e,type(e))
print(m,type(m))
print(n,type(n))
print(k,type(k))
print(p,type(p))

96 <class 'int'>
12.0212 <class 'float'>
Prasad <class 'str'>
False <class 'bool'>
12 <class 'str'>

#### Type Casting:
    - To change the data type from one data type to another data type
    - int()
    - float()
    - str()
    - complex()
    - All Data Structures [List,Tuple,set and Dictionary]

### Input Formatting:
    - It is used for reading a values from user
    - It will displays an info to a user
    - Syntax:
        input("Something info")

In [3]:
n = input("Enter First value: ")
m = input("Enter Second value: ")
print(n,type(n))
print(m,type(m))
print("Addition of two values is: ",int(n)+int(m))
print(n,type(n))
print(m,type(m))

Enter First value: 1
Enter Second value: 2
1 <class 'str'>
2 <class 'str'>
Addition of two values is:  3
1 <class 'str'>
2 <class 'str'>

In [5]:
h = int(input("Enter a value: "))
b = int(input("Enter b value: "))
print(h,type(h))
print(b,type(b))
print(h+b)

Enter a value: 45
Enter b value: 2
45 <class 'int'>
2 <class 'int'>
47

### Output Formatting:
    - ,
    - %
    - .format => pyformat.info

In [10]:
n = int(input())
m = int(input())
print("Addition of",n,"and",m,"is:",n+m)
print("Substraction of %d and %d is: %d"%(n,m,n-m))
print("Division of {1} and {0} is: {2}".format(n,m,n/m))

4
5
Addition of 4 and 5 is: 9
Substraction of 4 and 5 is: -1
Division of 5 and 4 is: 0.8

```
Input:
    5

Output:
    Given number is: 5
    Given number is 5 and its float value is: 5.0
    Given number is 5 and its string value is: '5'
```

In [13]:
n = int(input())
print("Given number is: {}".format(n))
print("Given number is {} and its float value is: {}"
      .format(n,float(n)))
print("Given number is {} and its String value is: '{}'"
      .format(n,str(n)))

5
Given number is: 5
Given number is 5 and its float value is: 5.0
Given number is 5 and its String value is: '5'